In [2]:
# uvoz modulov
import pandas as pd

# Podatkovne tabele in poravnava indeksov

## Poravnava indeksov

### Kdaj imamo lahko težave s poravnavo indeksov?

1. Sestavi zaporedje kvadratov `kvadrati` naravnih števil od 0 do 20. Izračunati želimo zaporedje razlik : $x_1 - x_0$, $x_2 - x_1$, ...., $x_{20} - x_{19}$.
2. Ustvari novo zaporedje, ki je sestavljeno iz kvadratov, zamaknjenih za ena "navzgor" - poravnati želimo 0 z 1, 1 s 4, 4 z 9, ...
3. Ustvari podatkovno tabelo iz obeh zaporedij. 
4. Dodaš nov stolpec z razlikami, kot je opisano zgoraj. 

Preveri rezultat in razmisli: smo dobili pričakovani rezultat in zakaj (ne)? Kaj se zgodi s podatkovnim tipom zamaknjenega stolpca in zakaj?

In [5]:
vrednosti = [i**2 for i in range(21)]
kvadrati = pd.Series(vrednosti)
print(kvadrati)

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [10]:
kvadrati1 = pd.Series(vrednosti[1:])
print(kvadrati1)

0       1
1       4
2       9
3      16
4      25
5      36
6      49
7      64
8      81
9     100
10    121
11    144
12    169
13    196
14    225
15    256
16    289
17    324
18    361
19    400
dtype: int64

In [14]:
pt = pd.DataFrame({"kvadrat":kvadrati, "naslednji kvadrat":kvadrati1})
print(pt)

    kvadrat  naslednji kvadrat
0         0                1.0
1         1                4.0
2         4                9.0
3         9               16.0
4        16               25.0
5        25               36.0
6        36               49.0
7        49               64.0
8        64               81.0
9        81              100.0
10      100              121.0
11      121              144.0
12      144              169.0
13      169              196.0
14      196              225.0
15      225              256.0
16      256              289.0
17      289              324.0
18      324              361.0
19      361              400.0
20      400                NaN

In [26]:
vr_razlik = kvadrati1 - kvadrati
pt["razlike"] = vr_razlik
print(pt)

    kvadrat  naslednji kvadrat  razlike
0         0                1.0      1.0
1         1                4.0      3.0
2         4                9.0      5.0
3         9               16.0      7.0
4        16               25.0      9.0
5        25               36.0     11.0
6        36               49.0     13.0
7        49               64.0     15.0
8        64               81.0     17.0
9        81              100.0     19.0
10      100              121.0     21.0
11      121              144.0     23.0
12      144              169.0     25.0
13      169              196.0     27.0
14      196              225.0     29.0
15      225              256.0     31.0
16      256              289.0     33.0
17      289              324.0     35.0
18      324              361.0     37.0
19      361              400.0     39.0
20      400                NaN      NaN

5. Popravi indekse drugega (zamaknjenega) zaporedja, da bo število 1 na ničtem indeksu, 4 na prvem, 9 na drugem, ...
6. Ponovno ustvari tabelo in izračunaj razlike. (Vsi elementi morajo biti večji od nič).
7. Izpiši podatkovno tabelo z vsemi tremi stolpci.

In [27]:
kvadrati[1:]

1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

### Kako združiti zaporedja?

Dani so podatki o študentih, ki so vpisani v predmet ter ocenah prvega izpitnega roka:

* seznam `sez_studenti` vsebuje pare oblike `(<vpisna številka>, <ime>)`, 
* seznam `sez_ocene` vsebuje pare oblike `(<vpisna številka>, <ocena>)`.

In [29]:
sez_studenti = [("124174", "Maja"), ("223974", "Tilen"), ("341842", "Petra"), ("418623", "Blaž"), ("527421", "Katja"), ("620516", "Benjamin"), ("729516", "Urban"), ("828651", "Pija")]
sez_ocene = [("124174", 5), ("341842", 7), ("527421", 10), ("729516", 9), ("418623", 8), ("915715", 6), ("014153", 7)]

Ustvari zaporedji `studenti` ter `ocene`, ki imata za indeks vpisno številko:

In [33]:
imena = [elt2 for elt1,elt2 in sez_studenti]
st = [elt1 for elt1,elt2 in sez_studenti]
studenti = pd.Series(imena, index=st)
print(studenti)

vr = [elt2 for elt1,elt2 in sez_ocene]
st = [elt1 for elt1,elt2 in sez_ocene]
ocene = pd.Series(vr, index=st)
print(ocene)

124174        Maja
223974       Tilen
341842       Petra
418623        Blaž
527421       Katja
620516    Benjamin
729516       Urban
828651        Pija
dtype: object
124174     5
341842     7
527421    10
729516     9
418623     8
915715     6
014153     7
dtype: int64

Ustvari podatkovno tabelo `rezultati_1` s stolpcema `student` in `ocena`. Kako `pandas` združi stolpca v isto tabelo?

In [42]:
rezultati_1 = pd.DataFrame({"student":studenti, "ocena":ocene})
print(rezultati_1)

         student  ocena
014153       NaN    7.0
124174      Maja    5.0
223974     Tilen    NaN
341842     Petra    7.0
418623      Blaž    8.0
527421     Katja   10.0
620516  Benjamin    NaN
729516     Urban    9.0
828651      Pija    NaN
915715       NaN    6.0

V tabeli `rezultati_2` združi zaporedji tako, da bodo v njej le študenti, ki so vpisani v predmet:
<details><summary>Namig</summary>
Oglej si, kako deluje metoda <code>align</code>.
</details>

In [43]:
z1, z2 = studenti.align(ocene, join="left")
rezultati_2 = pd.DataFrame({"student": z1, "ocena": z2})
print(rezultati_2)

         student  ocena
124174      Maja    5.0
223974     Tilen    NaN
341842     Petra    7.0
418623      Blaž    8.0
527421     Katja   10.0
620516  Benjamin    NaN
729516     Urban    9.0
828651      Pija    NaN

V tabeli `rezultati_3` združi zaporedji tako, da bodo v njej le študenti, ki so pisali prvi izpit:

In [44]:
z1, z2 = studenti.align(ocene, join="right")
rezultati_3 = pd.DataFrame({"student": z1, "ocena": z2})
print(rezultati_3)

       student  ocena
124174    Maja      5
341842   Petra      7
527421   Katja     10
729516   Urban      9
418623    Blaž      8
915715     NaN      6
014153     NaN      7

V tabeli `rezultati_4` združi zaporedji tako, da bodo v njej le študenti, ki so vpisani v predmet in so pisali prvi izpit:

In [45]:
z1, z2 = studenti.align(ocene, join="inner")
rezultati_4 = pd.DataFrame({"student": z1, "ocena": z2})
print(rezultati_4)

       student  ocena
124174    Maja      5
341842   Petra      7
418623    Blaž      8
527421   Katja     10
729516   Urban      9

### Še en primer

Dane so meritve temperature zraka in višine vode v Kopru 29. oktobra med 6. in 12. uro. Temperatura je merjena vsako polno uro (tj. ob 6:00, 7:00, ...), višina vodostaja pa 10, 30 in 50 minut čez polno uro (tj. 6:10, 6:30, 6:50, 7:10, ...).

In [46]:
sez_temp = [12, 11.8, 13.4, 15.9, 18.6, 18.7, 19.5]
sez_voda = [252, 257, 260, 262, 262, 261, 259, 258, 256, 252, 249, 244, 238, 233, 226, 218, 210, 203]

Sestavi časovni vrsti `indeks_temp` in `indeks_voda`, ki vsebujeta čase meritev temperature in vode. Nato ustvari zaporedji temperatur in višine vodostaja ter jima nastavi ustrezna indeksa.

<details><summary>Ne veš kako se lotiti?</summary>
Pri tem si lahko pomagaš z indeksiranjem časovnega obdobja (angl. date range), lahko pa se poglobiš v <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#combining-aliases">dokumentacijo</a> in poiščeš pomoč za ustvarjanje časovnih točk v poljubnih intervalih.
</details>

In [68]:
ure1 = pd.date_range('2024-10-29 06:00:00', periods=7, freq="1h")
ure2 = pd.date_range('2024-10-29 06:10:00', periods=18, freq="20min")
indeks_temp = pd.Series(sez_temp, index=ure1)
indeks_voda = pd.Series(sez_voda, index=ure2)
print(indeks_temp)
print(indeks_voda)

2024-10-29 06:00:00    12.0
2024-10-29 07:00:00    11.8
2024-10-29 08:00:00    13.4
2024-10-29 09:00:00    15.9
2024-10-29 10:00:00    18.6
2024-10-29 11:00:00    18.7
2024-10-29 12:00:00    19.5
Freq: h, dtype: float64
2024-10-29 06:10:00    252
2024-10-29 06:30:00    257
2024-10-29 06:50:00    260
2024-10-29 07:10:00    262
2024-10-29 07:30:00    262
2024-10-29 07:50:00    261
2024-10-29 08:10:00    259
2024-10-29 08:30:00    258
2024-10-29 08:50:00    256
2024-10-29 09:10:00    252
2024-10-29 09:30:00    249
2024-10-29 09:50:00    244
2024-10-29 10:10:00    238
2024-10-29 10:30:00    233
2024-10-29 10:50:00    226
2024-10-29 11:10:00    218
2024-10-29 11:30:00    210
2024-10-29 11:50:00    203
Freq: 20min, dtype: int64

Na podlagi zaporedij ustvari tabelo s stolpcema `temperature` in `visine`, ki ima za indeks časovne točke.

Kako izgleda dobljena tabela?

In [69]:
podatkovna_tabela = pd.DataFrame({"temperature":indeks_temp,"visine":indeks_voda})
print(podatkovna_tabela)

                     temperature  visine
2024-10-29 06:00:00         12.0     NaN
2024-10-29 06:10:00          NaN   252.0
2024-10-29 06:30:00          NaN   257.0
2024-10-29 06:50:00          NaN   260.0
2024-10-29 07:00:00         11.8     NaN
2024-10-29 07:10:00          NaN   262.0
2024-10-29 07:30:00          NaN   262.0
2024-10-29 07:50:00          NaN   261.0
2024-10-29 08:00:00         13.4     NaN
2024-10-29 08:10:00          NaN   259.0
2024-10-29 08:30:00          NaN   258.0
2024-10-29 08:50:00          NaN   256.0
2024-10-29 09:00:00         15.9     NaN
2024-10-29 09:10:00          NaN   252.0
2024-10-29 09:30:00          NaN   249.0
2024-10-29 09:50:00          NaN   244.0
2024-10-29 10:00:00         18.6     NaN
2024-10-29 10:10:00          NaN   238.0
2024-10-29 10:30:00          NaN   233.0
2024-10-29 10:50:00          NaN   226.0
2024-10-29 11:00:00         18.7     NaN
2024-10-29 11:10:00          NaN   218.0
2024-10-29 11:30:00          NaN   210.0
2024-10-29 11:50:00          NaN   203.0
2024-10-29 12:00:00         19.5     NaN

Zaporedji poravnaj tako, da zaporedju temperatur nastaviš indeks zaporedja voda. 

<details><summary>Namig</summary>Oglej si delovanje metode <code>reindex</code>.</details>

Ponovno ju združi v tabelo, podobno tisti zgoraj. Kaj opaziš? Katere podatke obdržimo in kakšne so vrednosti obeh stolpcev?

In [77]:
temp = indeks_temp.reindex(ure2, method="nearest")
pt1 = pd.DataFrame({"temperature":temp,"visine":indeks_voda})
print(pt1)

                     temperature  visine
2024-10-29 06:10:00         12.0     252
2024-10-29 06:30:00         11.8     257
2024-10-29 06:50:00         11.8     260
2024-10-29 07:10:00         11.8     262
2024-10-29 07:30:00         13.4     262
2024-10-29 07:50:00         13.4     261
2024-10-29 08:10:00         13.4     259
2024-10-29 08:30:00         15.9     258
2024-10-29 08:50:00         15.9     256
2024-10-29 09:10:00         15.9     252
2024-10-29 09:30:00         18.6     249
2024-10-29 09:50:00         18.6     244
2024-10-29 10:10:00         18.6     238
2024-10-29 10:30:00         18.7     233
2024-10-29 10:50:00         18.7     226
2024-10-29 11:10:00         18.7     218
2024-10-29 11:30:00         19.5     210
2024-10-29 11:50:00         19.5     203

Zaporedji sedaj poravnaj tako, da zaporedju višin vode nastaviš indeks zaporedja temperatur. Dobimo isti nabor podatkov?

Naštej in preizkusi različne načine obravnave/zamenjave manjkajočih vrednosti. Kakšne so razlike?

In [78]:
voda = indeks_voda.reindex(ure1, method="nearest")
pt2 = pd.DataFrame({"temperature":indeks_temp,"visine":voda})
print(pt2)

                     temperature  visine
2024-10-29 06:00:00         12.0     252
2024-10-29 07:00:00         11.8     262
2024-10-29 08:00:00         13.4     259
2024-10-29 09:00:00         15.9     252
2024-10-29 10:00:00         18.6     238
2024-10-29 11:00:00         18.7     218
2024-10-29 12:00:00         19.5     203

## Naloge iz podatkovnih tabel

### 1. naloga: ITM

Iz zaporedij pri nalogi ITM, izračunanih na drugih vajah, sestavi podatkovno tabelo s štirimi stolpci, `ime`, `visina`, `teza` in `ITM`. Spremeni imena vrstic tako, da ustrezajo imenom oseb in nato zbriši stolpec ime. Indeksiraj dobljeno tabelo tako, da dobiš imena oseb, ki imajo ITM manj kot 26.

In [90]:
ime = ["Aleš", "Barbara", "Ciril", "Darja"]
visine = pd.Series([180, 165, 160, 193],index=ime)
teze = pd.Series([87, 58, 65, 100],index=ime)
itm = teze / ((visine/100) ** 2)
pt3 = pd.DataFrame({"visina": visine, "teza": teze, "ITM": itm})
print(pt3)

pod26 = itm[itm<26]
pt4 = pd.DataFrame({"visina": visine, "teza": teze, "ITM": pod26})
pt5 = pt4.dropna()
print(pt5)

         visina  teza        ITM
Aleš        180    87  26.851852
Barbara     165    58  21.303949
Ciril       160    65  25.390625
Darja       193   100  26.846358
         visina  teza        ITM
Barbara     165    58  21.303949
Ciril       160    65  25.390625

### 2. naloga: naključna zaporedja
Ustvari dve zaporedji `x` in `y` dolžine 250 tako, da s ponavljanjem naključno izbiraš naravna števila iz intervala $[0, 999]$. Označimo z $x_1, x_2, \ldots, x_{250}$ in $y_1, y_2, \ldots, y_{250}$ elemente zaporedij `x` in `y`. Izračunaj:

* Zaporedje z elementi $y_2 - x_1, y_3 - x_2, \ldots, y_{250} - x_{249}$.
* Vsoto $\sum_{i=1}^{249} e^{- x_{i+1}} / (x_i + 10)$.

In [93]:
import random

x = pd.Series([random.randint(0,999) for i in range(250)])
y = pd.Series([random.randint(0,999) for i in range(250)])

### 3. naloga - temperature - 1. del

Dana je podatkovna tabela `temperature` s podatki o povprečni dnevni temperaturi zraka (v Celzijevih stopinjah) v Ljubljani v obdobju od začetka leta 2010 do konca 2019.

In [92]:
temperature = pd.read_csv("https://kt.ijs.si/~ljupco/lectures/papvp-2324/temp-lj-2010-2019.csv")
print(temperature)

           datum  povprecna_temperatura
0     2010-01-01                    6.9
1     2010-01-02                    2.5
2     2010-01-03                   -0.5
3     2010-01-04                   -3.3
4     2010-01-05                   -1.5
...          ...                    ...
3647  2019-12-27                    3.0
3648  2019-12-28                    0.7
3649  2019-12-29                   -1.4
3650  2019-12-30                   -2.3
3651  2019-12-31                   -0.3

[3652 rows x 2 columns]

* Iz podatkovne tabele sestavi zaporedje `temp_lj`, kjer so indeksi datumi v opazovanem obdobju in vrednost elementa enaka povprečni temperaturi na ustrezen datum.
    * preveri pogostost (angl. _resolution_) indeksa (pričakujemo rezultat `"day"`)
    * temperaturo na božič 2015 (25. december)
    * izpiši temperature v juniju 2010
    * izpiši temperature med 19. decembrom 2012 in 3. januarjem 2013
* Z indeksiranjem zaporedja `temp_lj` sestavi novo zaporedje `temp_lj_petek` povprečnih temperatur ob petkih.
* Z indeksiranjem zaporedja `temp_lj` sestavi novo zaporedje `temp_lj_13` povprečnih temperatur za vsak datum, kjer je dan v mesecu enak 13.
* S poravnavo zaporedij `temp_lj_petek` in `temp_lj_13` sestavi novo zaporedje `temp_lj_petek_13` s povprečnimi temperaturami za vsak petek trinajstega v opazovanem obdobju.
* Z indeksiranjem zaporedja `temp_lj_petek_13` izpiši datuma za najbolj vroč in najbolj hladen petek trinajstega.
* Izračunaj povprečno temperaturo za datume, ki padejo na petek trinajstega v opazovanem obdobju.

### 4. naloga - temperature - 2. del

Uporabi **tabelo** `temperature` iz prejšnje naloge. Stolpec `datum` popravi, da bo tipa `datetime`.

* Izpiši datume najbolj vročih in najbolj hladnih dni v opazovanem obdobju.
* Izpiši datume s temperaturo, ki ne odstopa za več kot eno stopinjo Celzija od povprečne temperature v tem obdobju.
* Sestavi funkcijo, ki za podano leto in mesec vrne povprečno temperaturo zraka.
* Z uporabo te funkcije sestavi zaporedje povprečnih temperatur po mesecih (zaporedje naj vsebuje eno vrstico za vsak mesec vsakega leta).
    <details><summary>Namig</summary>
    Preveri, kako deluje metoda <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.apply.html"><code>apply</code></a> na podatkovnih zaporedjih in okvirjih. Kako bi dobil vse mesece in leta v izbranem obdobju?
    </details>
* Izpiši mesece, ko je bila povprečna temperatura najvišja oziroma najnižja.