# Osnovna analiza

## Osnovno računanje statistik

In [1]:
# uvoz modulov
import pandas as pd

Iz spodnjih podatkov ustvari podatkovno tabelo `zavetisce` in stolpcem nastavi ustrezne podatkovne tipe.

In [2]:
zavetisce = pd.read_csv('zivali_v_zavetiscu.csv')
zavetisce
#

         ime   vrsta  starost spol datum_sprejema
0       Luna     Pes        2    Ž     2023-04-10
1   Whiskers   Mačka        4    M     2023-03-15
2      Rocky     Pes        3    M     2023-04-02
3       Nala   Mačka        1    Ž     2023-03-20
4      Maksi     Pes        5    M     2023-04-12
5      Bella   Mačka        2    Ž     2023-04-05
6      Buddy     Pes        6    M     2023-03-08
7      Daisy     Pes       10    Ž     2023-04-23
8       Coco   Mačka        8    Ž     2023-01-08
9       Ruby     Pes        8    Ž     2023-05-29
10     Mochi     Pes        3    Ž     2023-07-07
11   Cheddar     Pes        6    M     2023-10-07
12       Max   Mačka        6    M     2023-02-17
13    Rascal     Pes        4    M     2023-09-27
14   Charlie   Mačka        2    M     2023-08-07
15  Skittles  Papiga        4    Ž     2023-08-26
16      Juno     Pes       10    Ž     2023-05-18
17     Mango  Papiga       10    M     2023-05-18
18   Charlie     Pes        4    M     2023-07-17
19  Snickers   Zajec        2    Ž     2023-06-03

Izpiši naslednje statistike o starosti živali v zavetišču:
* povprečna starost vseh živali
* standardni odklon starosti
* srednja starost
* 0.5. kvantil starosti
* 0.25. kvantil starosti
* 0.75. kvantil starosti

In [12]:
print(f'Povprečna starost vseh živali je {zavetisce.starost.mean()}')
print(f'Standardni odklon starosti je {zavetisce.starost.std()}')
print(f'Srednja starost je {zavetisce.starost.median()}')
print(f'0.5 kvantil starosti je {zavetisce.starost.quantile(.5)}')
print(f'0.25 kvantil starosti je {zavetisce.starost.quantile(.25)}')
print(f'0.75 kvantil starosti je {zavetisce.starost.quantile(.75)}')

Povprečna starost vseh živali je 5.0
Standardni odklon starosti je 2.9019050004400464
Srednja starost je 4.0
0.5 kvantil starosti je 4.0
0.25 kvantil starosti je 2.75
0.75 kvantil starosti je 6.5

Poišči število vseh samičk:

In [20]:
print(f'Število vseh samičk je {(zavetisce.spol == 'Ž').sum()}')

Število vseh samičk je 10

Poišči povprečno starost za vsako vrsto hišnih ljubljenčkov:

In [21]:
print(f'Povprečna starost za vsako vrsto je {zavetisce.groupby('vrsta')['starost'].mean()}')

Povprečna starost za vsako vrsto je vrsta
Mačka     3.833333
Papiga    7.000000
Pes       5.545455
Zajec     2.000000
Name: starost, dtype: float64

Za vsak spol poišči srednjo, najmanjšo in najvišjo starost:

In [23]:
print(zavetisce.groupby('spol')['starost'].mean())
print(zavetisce.groupby('spol')['starost'].min())
print(zavetisce.groupby('spol')['starost'].max())

spol
M    5.0
Ž    5.0
Name: starost, dtype: float64
spol
M    2
Ž    1
Name: starost, dtype: int64
spol
M    10
Ž    10
Name: starost, dtype: int64

Poišči število živali in povprečno starost za vsako vrsto in spol:

In [36]:
print(f'Število živali je {zavetisce.ime.count()}')
print(f'Povprečna starost za vsako vrsto in spol \n{zavetisce.groupby(['vrsta', 'spol'])['starost'].mean()}')

Število živali je 20
Povprečna starost za vsako vrsto in spol
vrsta   spol
Mačka   M        4.000000
        Ž        3.666667
Papiga  M       10.000000
        Ž        4.000000
Pes     M        4.666667
        Ž        6.600000
Zajec   Ž        2.000000
Name: starost, dtype: float64

Poišči podatke o živali, ki je v zavetišču najdlje:

In [35]:

print(f'Podatki o živali, ki je v zavetišču najdlje\n{zavetisce[zavetisce.datum_sprejema == zavetisce.datum_sprejema.min()]}')

Podatki o živali, ki je v zavetišču najdlje
    ime  vrsta  starost spol datum_sprejema
8  Coco  Mačka        8    Ž     2023-01-08

Za vsako vrsto poišči podatke o živali, ki je v zavetišču najdlje.

<details><summary>Namig</summary>
Najprej poišči najmanjši datum sprejema za vsako vrsto, nato pa pripni ustrezne podatke iz tabele zavetišče.
</details>

In [58]:
najstarejsa = zavetisce.groupby('vrsta')['datum_sprejema'].min()
rezultat = pd.merge(najstarejsa, zavetisce,how='left',on=['vrsta','datum_sprejema'])
rezultat

    vrsta datum_sprejema       ime  starost spol
0   Mačka     2023-01-08      Coco        8    Ž
1  Papiga     2023-05-18     Mango       10    M
2     Pes     2023-03-08     Buddy        6    M
3   Zajec     2023-06-03  Snickers        2    Ž

## Naloge

### 1. naloga - Rezultati kolokvijev

1. Napiši program v `pandas`, ki na osnovi podatkov iz tabel `studenti` in `studenti_ocene` (s predavanj) izpiše ime študenta ali študentke z najboljšim povprečnim rezultatom na kolokvijih.

In [81]:
studenti = pd.read_csv('studenti.csv')
studenti_ocene = pd.read_csv('studenti_ocene.csv')

studenti_ocene.groupby("ime")['rezultat'].mean().idxmax()

'Ana'

2. Sestavi tabelo, ki za posamezen kolokvij poroča razliko med najboljšim in najslabšim rezultatom študentov.

In [104]:
minimum = studenti_ocene.groupby(['semester','kolokvij']).min()
maksimum = studenti_ocene.groupby(['semester','kolokvij']).max()
maksimum

                     ime  rezultat
semester kolokvij
1        1         Franc      95.0
         2         Franc      99.0
2        1         Franc      97.0
         2         Franc      95.0

3. V tabeli z rezultati kolokvijev, ki ste jo sestavili med predavanji, dodaj naslednje tri spremenljivke.

    * `skupaj`: skupno število doseženih točk študenta (študentke) na kolokvijih;
  
    * `povprecje`: povprečno število doseženih točk študenta (študentke) na kolokvijih;
  
    * `ocena`: dosežena ocena študenta (študentke), pri čemer upoštevate običajno ocenjevalno lestvico, kjer je 10 ocena za povprečen rezultat nad 90 točk, 9 za povprečje nad 80, 8 za povprečje nad 70, 7 za povprečje nad 60, 6 za povprečje nad 50 in 5 za povprečje največ 50.

### 2. naloga - Vrednosti funkcije
Sestavi tabelo funkcije $f(x,y)=\sin(x^2+y^2)$ za vse vrednosti $x$ in $y$ na intervalu $[-2,2]$ vzorčene s korakom $0.1$, torej $\{-2, -1.9, -1.8, \ldots, 2\}$. Iz te tabele za podano vrednost $\varepsilon$ sestavi seznam treh podatkovnih tabel: prva naj vsebuje tiste vrstice, za katere velja $z = f(x, y) < -\varepsilon$, druga vrstice $|z| \leq \varepsilon$ in tretja vrstice $z > \varepsilon$.

### 3. naloga - Covid sledilnik

Spletna stran [Covid-19 sledilnik](https://covid-19.sledilnik.org/) ponuja dnevno osvežene podatke o stanju epidemije Covid-19 v Sloveniji. Podatki o dnevnem številu okužb ponujajo tudi skozi spletne storitve [GitHub](https://github.com/sledilnik/data/blob/master/csv/stats.csv): ti podatki so v obliki CSV dostopni na naslovu [https://raw.githubusercontent.com/sledilnik/data/master/csv/stats.csv](https://raw.githubusercontent.com/sledilnik/data/master/csv/stats.csv).

Napiši program, ki iz teh podatkov sestavi podatkovno tabelo z urejenimi dnevnimi podatki o številu okužb v celotni Sloveniji. Podatkovna tabela naj vsebuje naslednji dve spremenljivki:

* `datum` je dimenzijska spremenjljvika z datumom opazovanega števila okužb;
* `kumulativne_okuzbe` je merjena spremenljivka, ki za izbrano regijo poda kumulatinvo število okužb Covid-19 do izbranega datuma.

Iz te osnovne tabele podatkov sestavi novo podatkovno tabelo, ki za posamezni mesec v opazovanem obdobju izračuna maksimalno število okužb v enem dnevu tega meseca. Nova tabela naj torej vsebuje dve spremenljivki:

* `mesec` je dimenzijska spremenljivka, ki določi mesec opazovanja;
* `max_dnevne_okuzbe` je numerična spremenljivka, ki poda maksimalno število dnevnih okužb v izbranem mesecu.

Opomba in namig: Ta naloga je nadaljevanje naloge iz zvezka za predavanja o urejanju podatkov.

### 4. naloga - Prebivalstvo in okužbe

Statistični urad Slovenije v svoji podatkovni bazi [SiStat](https://pxweb.stat.si/) ponuja podatke o številu prebivalcev v posameznih statističnih regijah in celotni Sloveniji po polletjih. Poišči te podatke v bazi in jih izvozi v obliko preglednice Excel: pri tem upoštevaj vse razpoložljive podatke od prvega polletja 2020. Nato jih uredi v podatkovno tabelo s stolpci `polletje`, `regija` in `prebivalstvo`.

Uporabi podatke iz te tabele in tabele sestavljene v prejšnji nalogi za izračun _deleža_ okuženih prebivalcev v posamezni regiji in celotni Sloveniji.