# 2. domača naloga

In [2]:
import pandas as pd

## 1.naloga

In [6]:
filmi = pd.read_csv('filmi.csv')
filmi

                   naslov  leto  oskar  stevilo
0        12 Years a Slave  2013  False        6
1        12 Years a Slave  2013   True        3
2                    1917  2019  False        7
3                    1917  2019   True        3
4     20 Days in Mariupol  2023  False        0
...                   ...   ...    ...      ...
2713             Zootopia  2016   True        1
2714      Zorba the Greek  1964  False        4
2715      Zorba the Greek  1964   True        3
2716            tom thumb  1958  False        0
2717            tom thumb  1958   True        1

[2718 rows x 4 columns]

(a) Kateri film (oz.filmi, če jih je več) je prejel največ nominacij ter koliko?

In [14]:
max_st_nominacij = max(filmi['stevilo'])
odgovor1a = filmi[filmi['stevilo'] == max_st_nominacij][['naslov','stevilo']]
odgovor1a = odgovor1a.reset_index(drop=True)
print(odgovor1a)

                                          naslov  stevilo
0                                         Becket       11
1                                        Ben-Hur       11
2                                 Johnny Belinda       11
3  The Lord of the Rings: The Return of the King       11
4                           The Power of the Dog       11
5                                        Titanic       11

(b) Število filmov, ki so bili nominirani vsaj trikrat in so osvojili oskarja za vsaj polovico nominacij.

In [22]:
zdruzeni_po_filmih = filmi.groupby('naslov')
ustrezni_filmi = zdruzeni_po_filmih.filter(lambda group: (group['stevilo'].sum()>=3 and group.loc[group['oskar']==True,'stevilo'].sum()>=0.5*group['stevilo'].sum()))
odgovor1b = len(ustrezni_filmi['naslov'].unique())
print(odgovor1b)

150

Desetletje in stoletje, v katerem je bilo nagrajenih največ različnih filmov ter koliko.

In [27]:
filmi['desetletje'] = (filmi['leto']//10 + 1) # Npr. 1985 → 1980
filmi['stoletje'] = (filmi['leto'] // 100) + 1 # Npr. 1985 → 20. stoletje
# Skupno število unikatnih filmov po desetletjih
# Obdelujemo le filme, ki so bili nagrajeni z oskarjem (vsebuje True)
# Združimo jih po desetletju
# Za vsako desetletje preštejemo št različnih filmov nagrajenih v tem desetletju
desetletje_counts = filmi[filmi['oskar']].groupby('desetletje')['naslov'].nunique()
# Skupno število unikatnih filmov po stoletjih
# Enako kot prej, le da po stoletjih
stoletje_counts = filmi[filmi['oskar']].groupby('stoletje')['naslov'].nunique()
# Največje število filmov po desetletjih in stoletjih
najvecje_desetletje = desetletje_counts.idxmax(), desetletje_counts.max()
najvecje_stoletje = stoletje_counts.idxmax(), stoletje_counts.max()
print(f"Največ filmov nagrajenih v desetletju: V {najvecje_desetletje[0]} desetletju, in sicer {najvecje_desetletje[1]}")
print(f"Največ filmov nagrajenih v stoletju: V {najvecje_stoletje[0]} stoletju, in sicer {najvecje_stoletje[1]}")

Največ filmov nagrajenih v desetletju: V 195 desetletju, in sicer 174
Največ filmov nagrajenih v stoletju: V 20 stoletju, in sicer 1000

Nekateri naslovi filmov se ponavljajo. Kateri izmed filmov, katerih naslovi se ponovijo natanko dvakrat, imajo tudi enako število prejetih oskarjev?

In [ ]:
# 1. Filtrirajmo samo vrstice, kjer je oskar True
df_filtered = filmi[filmi['oskar'] == True]

# 2. Združimo po naslovu filma, izračunamo število oskarjev za vsak film
df_grouped = df_filtered.groupby('naslov').agg(oskar_sum=('oskar', 'sum'), num_occurences=('naslov', 'size')).reset_index()

# 3. Preverimo, kateri filmi se pojavijo natanko 2x
ponovitve = df_grouped['num_occurences'].value_counts()

# 4. Filtriramo zgolj filme, ki se pojavijo natanko dvakrat
ponovljeni_filmi = ponovitve[ponovitve == 2].index
df_filtrirani_ponovljeni = df_grouped[df_grouped['naslov'].isin(ponovljeni_filmi)]

# 5. Preverimo, kateri filmi imajo enako število prejetih Oskarjev
# Če je število Oskarjev enako za obe vrstici (True in False), potem bo oskar_sum enak 2
odgovor1d = df_filtrirani_ponovljeni.groupby('naslov').filter(lambda x: x['oskar_sum'].nunique() == 1)

# 6. Izpiši rezultat
print("\nFilmi, katerih naslovi se ponovijo dvakrat in imajo enako število oskarjev:")
print(odgovor1d)

Filmi, katerih naslovi se ponovijo dvakrat in imajo enako število oskarjev:
Empty DataFrame
Columns: [naslov, oskar_sum, num_occurences]
Index: []